<h4 class="heading4 vote-title"><%= t("decidim.proposals.proposal_m.modal.title") %></h4>
<div class="flex--sbc">
  <%= vote_block_for(proposal, 1, "green") %>
  <%= vote_block_for(proposal, 2, "yellow") %>
  <%= vote_block_for(proposal, 3, "red") %>
</div>
